{% extends 'layouts/base.html' %}

{% block title %}Contact Us - Smart Parking System{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">
        <h1>CONTACT <span style="color:#10b981;">US</span></h1>
        <p class="text-muted">
            Have a question? Get in touch with us.
        </p>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card p-4"
                 style="background:#1b283d; border:1px solid #334155; color:white;">

                <h2>Smart Parking System</h2>

                <p class="mt-4">
                    📍 AMALAPURAM,SRIKAKULAM,Andhra Pradesh
                </p>

                <p>
                    📧dummuyash07@gamil.com
                </p>

                <p>
                    📞+91 8328392561
                </p>

                <hr>

                <p class="text-muted">
                    Our team is happy to help you with parking
                    bookings and other queries.
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}